body {
    overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin:0;
    padding:0;
    color:#e82d78;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

header {
    text-align: center;
    color: #fff;
}

header img {
    display: block;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
.fp-controlArrow {
    display:none;
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #000 transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #000;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    width: 90%;
    height: 90%;
}

.absoluteTop {
    position: absolute;
    top: 0;
    bottom: 85%;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}
.absoluteBottom {
    position: absolute;
    top: 92%;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}
.top {
}

.top:after {
  content: '';
	display: inline-block;
  margin-top: 1em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #fff;
  border-right: 0.5em solid #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bottom {
}

.bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #fff;
  border-right: 0.5em solid #fff;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.rightAllign {
    display: block;
    float: right;
}
.leftAllign {
    display: block;
    float: left;
}

.rightPad {
    padding-right: 20%;
}
.leftPad {
    padding-left: 40%;
}

.outerbox {
  margin:0 0 auto 0;
  clear:left;
  height:auto;
  top: 0;
}
.innerbox {
  background: #fff;
  opacity: .8;
  max-width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  color: #e82d78;
  margin: 0 20% 30% 20%;
  padding: 35px;
  border-radius: 25px;
  border: 2px solid #e82d78;
}
.imgFull{
  width:100%;
  height:auto;
}
.imgCornerLeft {
  position: absolute; top: 0; left: 0;
}
.imgCornerRight {
  position: absolute; top: 0; right: 0;
}
.invisible {
  display: none;
}

  .blush1 {
      background: url("../img/blush_01.jpg") no-repeat center center scroll;
      background-color: #fff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }
  .blush2 {
      background: url("../img/blush_02.jpg") no-repeat center center scroll;
      background-color: #fff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }
  .blush3 {
      background: url("../img/blush_03.jpg") no-repeat center center scroll;
      background-color: #fff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }

 .blush4 {
     background: url("../img/bg-2.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

 .blush5 {
     background: url("../img/bg-3.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

 .blush6 {
     background: url("../img/bg-4.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }
 .blush7 {
     background: url("../img/bg-5.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

 .blush8 {
     background: url("../img/bg-6.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }
 .blush9 {
     background: url("../img/bg-7.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }
 .blush10 {
     background: url("../img/Heavenly-Blush-08.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }
 .blush11 {
     background: url("../img/Heavenly-Blush-09.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

 .blush12 {
     background: url("../img/Heavenly-Blush-10.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

 .blush13a {
     background: url("../img/Heavenly-Blush-12.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

 .blush13b {
     background: url("../img/Heavenly-Blush-12.jpg") no-repeat center center scroll;
     background-color: #fff;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

.contact {
    background: url("../img/qa-bg.jpg") no-repeat center center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content {
    padding: 0px 22% 0px 22%;
}

@media(min-width:768px) {

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h3 {
    font-size: 3em;
    color: #e82d78;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #e82d78;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e82d78;
}

.text-danger {
    color: #000;
    font-size: 1.2em;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.2em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e82d78;
}

.btn-surprise {
    background-color: #e82d78;
    border-color: #e82d78;
    color: #fff;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.form-group label {
  color: #e82d78;
}
label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-check-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
    color: #e82d78;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #e82d78;
}

div[data-toggle="buttons"] label.active{
    color: #e82d78;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #e82d78;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

@media only screen and (min-width: 1600px) {
    .imgMini1 {
        width: 15%;
    }
    .imgMini2 {
        width: 35%;
    }
    .imgMini3 {
        width: 100%;
    }
    .imgText {
        width: 90%;
    }
    .imgMiniLogo {
        width: 20%;
    }
    .imgRealMini {
        width: 13%;
        height: 13%;
        height: auto;
    }

    .content {
        padding: 0px 0px 0px 0px;
    }

    .innerbox {
      background: #fff;
      opacity: .8;
      max-width: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2em;
      color: #e82d78;
      margin: 0 20% 40% 20%;
      padding: 25px;
      border-radius: 25px;
      border: 2px solid #e82d78;
    }
}

@media only screen and (max-width: 640px) {
    .imgMini1 {
        width: 35%;
    }
    .imgMini2 {
        width: 75%;
    }
    .imgMini3 {
        width: 150%;
    }
    .imgText {
        width: 200%;
    }
    .imgMiniLogo {
        width: 50%;
    }
    .imgRealMini {
        width: 32%;
        height: 32%;
        height: auto;
    }

    .innerbox {
      background: #fff;
      opacity: .8;
      max-width: 100%;
      font-size: 1em;
      color: #e82d78;
      margin: 0 10% 30% 10%;
      padding: 25px;
      border-radius: 25px;
      border: 2px solid #e82d78;
    }

    .blush1 {
        background: url("../img/mob-1.jpg") no-repeat center center scroll;
        background-color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .blush2 {
        background: url("../img/mob-2.jpg") no-repeat center center scroll;
        background-color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .blush3 {
        background: url("../img/mob-3.jpg") no-repeat center center scroll;
        background-color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}
